.content{
    text-align: center;
    margin-left: 10rem;
    margin-right: 10rem;

    mat-card{
        width: 20rem;
        height: 30rem;
        margin: 0 auto;
        z-index: 2;
        
    }
}