<span id="background" ></span>
<header (window:scroll)="onScroll()" >
    <xc-portfolio-colorscheme></xc-portfolio-colorscheme>
    <p id="pagename" (click)="pagenamenv()">XC-Dev</p>
    <div id="menue">
        <mat-icon id="icon">lunch_dining</mat-icon>
        <nav id=items>
            <mat-card class="item" *ngFor="let item of menueitems" [routerLink]="['/{{item.name}}']" routerLinkActive="router-link-active" (click)="scrollToElement(item.name)" >
                <mat-card-header><mat-icon id="icon">{{item.icon}}</mat-icon></mat-card-header>
                <mat-card-content>{{item.name}}</mat-card-content>
            </mat-card>
        </nav>
    </div>
</header>
<div id="headerimg" >
    <img src="../../assets/left.png" id="cloudleft">
    <img src="../../assets/right.png" id="cloudright">
</div>