<header>
    <xc-portfolio-colorscheme></xc-portfolio-colorscheme>
    <h1></h1>
    <div id="menue">
        <mat-icon id="icon">lunch_dining</mat-icon>
        <div id=items>
            <mat-card class="item" *ngFor="let item of menueitems">
                <mat-card-header><mat-icon id="icon">{{item.icon}}</mat-icon></mat-card-header>
                <mat-card-content>{{item.name}}</mat-card-content>
            </mat-card>
        </div>
    </div>
</header>
<div id="headerimg" >
    <p id="pagename">XC-Dev</p>
    <img src="../../assets/left.png" alt="cloudleft">
    <img src="../../assets/right.png" alt="cloudright">
</div>