section{
    height: 100vh;
    padding-top: 10rem;
    scroll-snap-align: start; 

    .blendercolor::before{
        content: '';
        position: absolute;
        top: 88.5vh;
        width: 100%;
        height: 110px;
        z-index: 9;
    }

}
