$xc-white:#FBFEF9;
$xc-grey:#6D8A96;
$xc-pink:#DE7EEF;
$xc-black:#121420;
$xc-green:#379634;

$xc-pink-palette: (
    50: #F7EFF3,
    100: #F8D5E6,
    200: #F8BBD9,
    300: #F9A0CB,
    400: #FA86BE,
    500: #FA6CB1,
    600: #FB52A4,
    700: #FC3796,
    800: #FC1D89,
    900: #FD037C,
    A100: #E0BDF3,
    A200: #DE7EEF,
    A400: #DB3FEC,
    A700: #D900E8,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #ffffff,
    ),
);

$xc-purple-palette: (
    50: #E0BDF3,
    100: #DAA8F2,
    200: #D593F0,
    300: #CF7EEF,
    400: #CA69EE,
    500: #C454EC,
    600: #BF3FEB,
    700: #B92AEA,
    800: #B415E8,
    900: #AE00E7,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #000000,
        800: #000000,
        900: #000000,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);
