$xc-white:#FBFEF9;
$xc-grey:#6D8A96;
$xc-blue:#1B2432;
$xc-black:#121420;
$xc-green:#379634;

$xc-blue-palette: (
    50: #e4f3fc,
    100: #bde1fa,
    200: #94cff8,
    300: #6abbf4,
    400: #4aacf3,
    500: #2c9ef1,
    600: #2590e3,
    700: #1d7ed1,
    800: #166ebf,
    900: #0850a0,
    A100: #c7d9ff,
    A200: #94b7ff,
    A400: #6194ff,
    A700: #4883ff,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #ffffff,
    ),
);

$xc-grey-palette: (
    50: #fcfcfc,
    100: #f7f7f7,
    200: #f3f3f3,
    300: #ededed,
    400: #cccccc,
    500: #afafaf,
    600: #848484,
    700: #707070,
    800: #505050,
    900: #2d2d2d,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #000000,
        800: #000000,
        900: #000000,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);
