
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@import '~@angular/material/theming';
@import 'colors';
@include mat-core();

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Poppins', "Helvetica Neue", sans-serif; 
overflow-x: hidden;
scroll-behavior: smooth;
}

$xc-primary: mat-palette($xc-pink-palette, 800, 500, 900);
$xc-accent: mat-palette($xc-purple-palette, 400, 300, 500);
$xc-warn: mat-palette($mat-red);

$xc-light-theme: mat-light-theme($xc-primary,$xc-accent,$xc-warn);

$xc-dark-theme: mat-dark-theme($xc-primary,$xc-accent,$xc-warn);

.color-scheme-light {
  @include angular-material-theme($xc-light-theme);

  .blendercolor::before{
    background: linear-gradient(to top, rgb(250, 250, 250), transparent);
  }
  #background{
    background-color: rgb(250, 250, 250) ;
  }
}

.color-scheme-dark {
  @include angular-material-theme($xc-dark-theme);
  .blendercolor::before{
    background: linear-gradient(to top, rgb(45, 45, 45), transparent);
  }

  #background{
    background-color: rgb(45, 45, 45) ;
  }
}

